.MuiBackdrop-root {
    background-color: transparent !important;
}

._mh-container {
    margin: 6px;
    border: 1px solid black;
    border-radius: 3px;
    height: 16px;
    position: relative;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

._mh-inner {
    height: 100%;
    position: absolute;
    left: 0;
}

.mana-container {
    background-color: #045B9B;
}

.health-container {
    background-color: #039811;
}

._mh-amount-text {
    color: white;
    font-size: 12px;
    position: absolute;
}

._mh-regen-text {
    color: white;
    font-size: 12px;
    position: absolute;
    right: 4px;
}
