/*
*/

.container {
    display: flex;
    flex-direction: column;
}

.gold-hud {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #104846;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    height: 5vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.gold-coins {
    background: gold;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-right: 6px;
}

.map {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden; /*drag scroll only*/
    /*handling no selection text on drag scroll*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: all-scroll;
    width: 100%;
    padding: 25vh 18vw;
}

.tile-container {
    /* https://stackoverflow.com/a/14440412 */
    flex: 0 0 auto;
    white-space: nowrap;
    /*overflow: hidden;*/
}

/* adding this to provide an additional padding layer, as this is ignored RHS for absolute positioning */
.tile-container-post {
    display: inline-block;
    width: 18vw;
}

.tile-wrapper {
    display: inline-block;
    text-align: center;
}

.coord-container {
    display: inline-block;
    background-color: lightyellow;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1px 3px;
    font-size: 11px;
}

.tile {
    display: inline-block;
    margin: 20px;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.tile:hover {
    opacity: 0.8;
}

.flat {
    background-color: green;
}

.player-city {
    background-color: grey;
}

.npc-tower {
    background-color: brown;
}

.npc-base {
    background-color: red;
}

.hud-bot-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hud-bot-inner {
    display: flex;
    background: white;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    height: 16vh;
    width: 40vw;
    padding: 4px;
}

.hud-bot-left {
    /*subtract the width of the divisor*/
    width: calc(80% - 20px);
}

.hud-bot-divisor {
    width: 20px;
}

.hud-bot-right {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
}

.hud-right-container {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.hud-right {
    position: absolute;
    background: white;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    width: 14vw;
    height: 40vh;
    top: calc(50% - 20vh);
    right: 0;
    overflow: scroll;
}

.hud-right-close {
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: calc(50% - 25vh);
    right: 1px;
}

.hud-right-type {
    padding: 15px 15px 0;
}

.MuiBackdrop-root {
    background-color: transparent !important;
}

._mh-container {
    margin-bottom: 6px;
    border: 1px solid black;
    border-radius: 3px;
    height: 16px;
    position: relative;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

._mh-inner {
    height: 100%;
    position: absolute;
    left: 0;
}

.mana-container {
    background-color: #045B9B;
}

.health-container {
    background-color: #039811;
}

._mh-amount-text {
    color: white;
    font-size: 12px;
    position: absolute;
}

._mh-regen-text {
    color: white;
    font-size: 12px;
    position: absolute;
    right: 4px;
}

.sel-tile-actions {
    padding: 20px;
    display: flex;
}

.sel-tile-action {
    cursor: pointer;
    background: purple;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    width: 30px;
    height: 30px;
}

.sel-tile-action:disabled {
    opacity: 0.5;
}

.shop-items {
    display: flex;
}

.shop-item-container {
    margin: 4px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-item {
    background-color: purple;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.shop-item:hover {
    opacity: 0.9;
}

.shop-item-selected {
    border: 3px solid gold;
}

.player-items {
    display: flex;
    flex-wrap: wrap;
}

.player-item {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.player-item-purchased {
    background-color: #104846;
}

.player-item-blank {
}
