.container {
    display: flex;
    flex-direction: column;
}

.map {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    overflow: hidden;  /*drag scroll only*/
    /*handling no selection text on drag scroll*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: all-scroll;
    padding: 25vh 0;
}

.tile-container {
    /* https://stackoverflow.com/a/14440412 */
    flex: 0 0 auto;
    white-space: nowrap;
    /*overflow: hidden;*/
}

.tile {
    display: inline-block;
    margin: 20px;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.tile:hover {
    opacity: 0.8;
}

.flat {
    background-color: green;
}

.player-city {
    background-color: grey;
}

.hud-container {
    display: flex;
    justify-content: center;
}

.hud {
    position: absolute;
    bottom: 0;
    background: black;
    min-height: 16vh;
    max-height: 16vh;
    box-sizing: border-box;
    border: 1px solid black;
    /*min-width: 500px;*/
    min-width: 50vw;
    max-width: 50vw;
}