/*
*/

.container {
    display: flex;
    flex-direction: column;
}

.gold-hud {
    position: absolute;
    top: 0;
    left: 0;
    background: gold;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    height: 5vh;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    overflow: hidden; /*drag scroll only*/
    /*handling no selection text on drag scroll*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: all-scroll;
    width: 100%;
    padding: 25vh 18vw;
}

.tile-container {
    /* https://stackoverflow.com/a/14440412 */
    flex: 0 0 auto;
    white-space: nowrap;
    /*overflow: hidden;*/
}

/* adding this to provide an additional padding layer, as this is ignored RHS for absolute positioning */
.tile-container-post {
    display: inline-block;
    width: 18vw;
}

.tile-wrapper {
    display: inline-block;
    text-align: center;
}

.coord-container {
    display: inline-block;
    background-color: lightyellow;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1px 3px;
    font-size: 11px;
}

.tile {
    display: inline-block;
    margin: 20px;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.tile:hover {
    opacity: 0.8;
}

.flat {
    background-color: green;
}

.player-city {
    background-color: grey;
}

.npc-tower {
    background-color: brown;
}

.npc-base {
    background-color: red;
}

.hud-bot-container {
    display: flex;
    justify-content: center;
}

.hud-bot {
    position: absolute;
    bottom: 0;
    background: white;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    height: 16vh;
    width: 40vw;
}

.hud-right-container {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.hud-right {
    position: absolute;
    background: white;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    width: 14vw;
    height: 40vh;
    top: calc(50% - 20vh);
    right: 0;
    overflow: scroll;
}